<div class="panel-body inf-content">
    <div class="row">
        <div class="col-md-4">
            <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip"
                src="/static/icons/user.jpg">
        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-condensed table-responsive table-user-information">
                    <tbody>
                        <tr>
                            <td>
                                <strong>
                                    Id
                                </strong>
                            </td>
                            <td class="text-secondary">
                                {{user._id}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Name
                                </strong>
                            </td>
                            <td class="text-secondary">
                                {{user.first_name}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Lastname
                                </strong>
                            </td>
                            <td class="text-secondary">
                                {{user.last_name}}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>
                                    Username
                                </strong>
                            </td>
                            <td class="text-secondary">
                                {{user.username}}
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <strong>
                                    Short Bio
                                </strong>
                            </td>
                            <td class="text-secondary">
                                {{user.short_bio}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Email
                                </strong>
                            </td>
                            <td class="text-secondary">
                                {{user.email}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Age
                                </strong>
                            </td>
                            <td class="text-secondary">
                                {{user.age}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Address
                                </strong>
                            </td>
                            <td class="text-secondary">
                                <ul>
                                    {{#each user.address}}
                                    {{#unless @first}}
                                    <li>
                                        <strong>{{@key}}</strong> {{this}}
                                    </li>

                                    {{/unless}}
                                    {{/each}}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    created
                                </strong>
                            </td>
                            <td class="text-secondary">
                                {{user.createdAt}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    Modified
                                </strong>
                            </td>
                            <td class="text-secondary">
                                {{user.updatedAt}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>