<div class="row">
    <div class="col-12">
        {{#if search}}
        {{> search}}
        {{else}}
        {{#if edit}}
        <h2>Manage the users</h2>
        <p>Here your can manage, edit and delete the users</p>
        {{else}}
        <h2>Full list</h2>
        <p>A list of all the user saved in the database</p>
        {{/if}} {{/if}}

        {{#if status }}
        {{> status}}
        {{/if}}

        {{#if empty}}
        {{> empty}}
        {{/if}}

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Username</th>
                    {{#if edit}}<th scope="col"></th>{{else}}<th scope="col">Age</th>{{/if}}
                </tr>
            </thead>
            <tbody>

                {{#if edit}}
                {{#each users}}
                <tr>
                    <th scope="col">{{this.first_name}}</th>
                    <th scope="col">{{this.last_name}}</th>
                    <th scope="col">{{this.username}}</th>
                    <th scope="col"><a href="../user/{{this._id}}"><img style="max-width:24px"
                                src="/static/icons/view.png"></a>&nbsp;&nbsp;
                        <a title="Edit user {{this.username}}" href="../users/edit/{{this._id}}">
                            <img style="max-width:16px" src="/static/icons/edit.png"></a>&nbsp;&nbsp;
                        <img style="max-width:16px" src="/static/icons/delete.png"></th>
                </tr>
                {{/each}}

                {{else}}
                {{#each users}}
                <tr>
                    <th scope="col">{{this.first_name}}</th>
                    <th scope="col">{{this.last_name}}</th>
                    <th scope="col"><a href="../user/{{this._id}}">{{this.username}}</a></th>
                    <th scope="col">{{this.age}}</th>
                </tr>
                {{/each}}
                {{/if}}
            </tbody>
        </table>
    </div>
</div>